{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<section class="bio-section">
    <div class="bio-text">
        <h1>About Me</h1>
        <p>
            I am Sambhav Karki, currently a junior majoring in Computer Science at the University of Idaho. 
            I have a passion for creating video games, and I design all my characters and environments, drawing from my love of art and mythology. 
            In addition to game development, I have experience in infrastructure, urban development, and have built several personal projects. 
            My current endeavor is BarterDB for this class (CS 360), a secure anonymous barter system aimed at transforming how people exchange goods online.
        </p>
        <p>
            My journey began in Nepal, where I was born and spent most of my life. This rich cultural background inspired me to incorporate unique elements into my work. 
            I enjoy combining technology and design to create immersive experiences that challenge traditional narratives. 
            As I continue my studies, I aspire to work on larger projects that merge engineering and art in meaningful ways.
        </p>
    </div>
</section>
{% endblock %}
