<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" {% if request.path == '/' %}class="active"{% endif %}>Home</a></li>
                <li><a href="{{ url_for('about') }}" {% if request.path == '/about' %}class="active"{% endif %}>About</a></li>
                <li><a href="{{ url_for('portfolio') }}" {% if request.path == '/portfolio' %}class="active"{% endif %}>Portfolio</a></li>
                <li><a href="{{ url_for('contact') }}" {% if request.path == '/contact' %}class="active"{% endif %}>Contact</a></li>
                <li><a href="{{ url_for('signin') }}" {% if request.path == '/signin' %}class="active"{% endif %}>Sign In</a></li>
                <li><a href="{{ url_for('signup') }}" {% if request.path == '/signup' %}class="active"{% endif %}>Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <ul>
            <li><a href="{{ url_for('terms') }}">Terms and Conditions</a></li>
            <li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
            <li><a href="{{ url_for('cookie_policy') }}">Cookie Policy</a></li>
        </ul>
    </footer>
</body>
</html>
