{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block content %}
<section class="resume-section">
    <div class="resume-content">
        <!-- Header with Name and Contact Info -->
        <h1>Sambhav Karki</h1>
        <p class="contact-info">
            Moscow, Idaho, 83843 | (971)-222-9907 | ssambhavv@gmail.com
        </p>
        
        <h2>Experience</h2>
        <div class="experience">
            <p><strong>CYBER SECURITY INTERN | CYBER BUREAU NEPAL</strong><br>06/2021 - 11/2021</p>
            <ul>
                <li>Collaborated with team to optimize general network system.</li>
                <li>Informed people about the importance of cyber security and how to protect yourself from online attacks.</li>
                <li>Provided support to cyber victims.</li>
            </ul>

            <p><strong>GRAPHIC DESIGNER | FIVERR (FREELANCE)</strong><br>08/2021 - 12/2021</p>
            <ul>
                <li>Used Adobe applications (Photoshop, Illustrator, Premiere Pro, After Effects) and Blender (3D models) to create high quality graphics upon request.</li>
                <li>Suggested various marketing strategies to help users correctly utilize their logos and banners.</li>
            </ul>

            <p><strong>MATHEMATICS TUTOR | UNIVERSITY OF IDAHO</strong><br>06/2022 - PRESENT</p>
            <ul>
                <li>Help college students with calculus and advanced mathematics.</li>
                <li>Collaborated with professors to develop new methods to teach mathematics.</li>
                <li>Proctored student examinations.</li>
            </ul>

            <p><strong>VIDEO GAME DEVELOPER | BUTTERZONE (SELF)</strong><br>02/2024 - PRESENT</p>
            <ul>
                <li>Developing video games using Unity (C#) and Unreal (C++).</li>
                <li>Collaborating with peers to create documents and outlines required for the software.</li>
                <li>Building a personal physics engine to simulate various in-game situations.</li>
            </ul>
        </div>

        <!-- Skills and Abilities -->
        <h2>Skills</h2>
        <ul>
            <li>Programming in Python, C++, C, JavaScript</li>
            <li>Database management with MySQL</li>
            <li>Unity development with C#</li>
            <li>Video Game development with Unreal Engine</li>
        </ul>

        <!-- Projects and Acknowledgements -->
        <h2>Projects and Acknowledgements</h2>
        <ul>
            <li>Deployed multiple Video Games</li>
            <li>Web-based Sudoku Solver</li>
            <li>Web Scraper through custom Shell</li>
            <li>Worked with various AI development tools to create Chatbots and Automations</li>
        </ul>
    </div>
</section>
{% endblock %}
